:root {
    --font-family-header: "Segoe UI", Arial, sans-serif;
    --font-family-body: "Century Gothic";
    --font-family-special: "Helvetica";

    --font-size-md: 1rem;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.85rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;

    ;
}