:root {
    --color-primary: #588cf3;
    --color-background: #939498;
    --color-highlight: #b4bbca;
    --color-text: #333333;
    --color-highlight-text: #b4bbca;
    --locale: "en";
    --date-format: "DD-MM-YYYY";
}