:root {
    --font-family-header: "Segoe UI", Arial, sans-serif;
    --font-family-body: "Century Gothic";
    --font-family-special: "Helvetica";

    --font-size-md: 1rem;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.85rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;

    --component-base-primary: #607d8b;
    --component-base-secondary: #f1f1f1;
    --component-base-highlight: #cccccc;

    --header-base-primary: #2196f3;
    --header-base-secondary: black;

    --topHeader-height: 3vw;
    --topHeader-background-color: black;
}