:root {
    --font-family-header: "Segoe UI", Arial, sans-serif;
    --font-family-body: "Century Gothic";
    --font-family-special: "Helvetica";

    --font-size-md: 1rem;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.85rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;


    --font-light: 200;
    --font-normal: 400;
    --font-bold: 600;
    --fold-bolder: 800;


    --top-header-height: 3vw;
    --top-header-background-color: black;

    --bottom-footer-height: 14vw;
    --bottom-footer-background-color: #333333;

    --radius-small: 0.15rem;
    --radius-medium: 0.25rem;
    --radius-large: 0.75rem;

    --border-color: #e5e7eb;
    --modal-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 8px 10px -6px rgba(0, 0, 0, 0.1);

    --base-background-color-primary: white;
    --base-background-color-secondary: black;
    --base-background-highlight: #2196F3;
    --tab-background-color-primary: #607d8b;
    --tab-background-color-secondary: #f1f1f1;
    --tab-background-color-highlight: #ccc;

    --text-primary-color: black;
    --text-secondary-color: white;
    --text-highlight-color: #757575;
    --text-link-color: #2196f3;
    --text-disabled-color: #f44336;


    --custom-padding-small: 0.5rem;
    --custom-padding-medium: 1rem;
    --custom-padding-large: 2rem;

    --custom-height: 3vw;
    --custom-width: 3vw;
}

:root .dark-theme {
    --top-header-background-color: #121212;
    --bottom-footer-background-color: #1e1e1e;
    --base-background-color-primary: #121212;
    --base-background-color-secondary: #1e1e1e;
    --text-primary-color: #ffffff;
    --text-secondary-color: #ffffff;
    --text-highlight-color: #b0bec5;
    --text-link-color: #bb86fc;
}