:root {
    --font-family-special: Verdana, sans-serif;
    --font-family-header: "Helvetica";
    --font-family-body: "Helvetica";

    --font-size-md: 0.98rem;
    --font-size-nm: 0.85rem;
    --font-size-xs: 0.70rem;
    --font-size-sm: 0.78rem;
    --font-size-lg: 1.115rem;
    --font-size-xl: 1.25rem;
    --font-size-xxl: 2rem;

    --font-light: 200;
    --font-normal: 400;
    --font-bold: 600;
    --fold-bolder: 800;

    --radius-small: 0.15rem;
    --radius-medium: 0.25rem;
    --radius-large: 0.75rem;

    --border-color: #999999;

    --modal-box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),
                        0 8px 10px -6px rgba(0,0,0,.1);

    /* Light Theme */
    --base-color-primary: #E8E8E8;
    --base-color-secondary: #000000;
    --base-color-tertiary: #444444;

    --component-color-primary: #666666;
    --component-color-secondary: #fffbfb;
    --component-color-tertiary: #cccccc;
    --component-color-highlight: #0099cc;
    --component-color-blue: #336699;
    --component-color-grey: #939498;

    --text-color-primary: #000000;
    --text-color-secondary: #ffffff;
    --text-color-tertiary: #0099cc;
    --text-color-quaternary: #7e7e7e;
    --text-color-link: #0099cc;
    --text-color-disabled: #f44336;

    --top-header-background-color: #000000;
    --bottom-footer-background-color: #000000;

    --nnp-padding-small: 0.5rem;
    --nnp-padding-medium: 1rem;
    --nnp-padding-large: 2rem;

    --component-height-small: 30px;
    --component-height-medium: 50px;
    --component-height-large: 150px;

    --nav-width: 260px;

    --nnp-date-formate: "DD/MM/YYYY";
    --nnp-time-formate: "HH:mm:ss";

    --grid-odd-row-color: #E3E2D6;
    --grid-even-row-color: #f9f9f9;
    --grid-header-color: #0099CC;
    --grid-header-text-color: #dddddd;
}


/* Dark Theme Variables */
html.dark,
body.dark-theme {
    --base-color-primary: #3D3D3D;
    --base-color-secondary: #1e1e1e;
    --base-color-tertiary: #444444;

    --component-color-primary: #666666;
    --component-color-secondary: #1e1e1e;
    --component-color-tertiary: #2f2f2f;
    --component-color-highlight: #0099cc;
    --component-color-blue: #336699;
    --component-color-grey: #939498;

    --text-color-primary: #ffffff;
    --text-color-secondary: #ffffff;
    --text-color-tertiary: #b0bec5;
    --text-color-quaternary: #a6a6a6;
    --text-color-link: #84DEF1;
    --text-color-disabled: #f44336;

    --top-header-background-color: #121212;
    --bottom-footer-background-color: #1e1e1e;
}