@use './nnp-mixins.scss' as mixins;

.nnp-layout-container {
  @include mixins.flex-direction(column);
  min-height: 100vh;
  position: relative;
}

.nnp-main-container {
  padding-top: var(--top-header-height);
  flex-grow: 1;
  overflow-y: auto;
}

.nnp-main-content {
  position: relative;
  height: 100%;
  @include mixins.flex-direction(column);
}

.nnp-top-header {

  width: 100%;
  height: var(--top-header-height);
  background-color: var(--top-header-background-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: var(--text-secondary-color);
}

.nnp-bottom-footer {
  background-color: var(--bottom-footer-background-color);
  color: var(--text-secondary-color);
  height: var(--bottom-footer-height);
  gap: 1.5rem;
  @include mixins.flex-direction(column);
  @include mixins.justify(center, center);

}

.nnp-modal-container {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(2px);
  @include mixins.justify(center, center);

  .nnp-modal-content {
    background-color: var(--base-background-color-primary);
    border-radius: var(--radius-large);
    box-shadow: var(--modal-box-shadow);
    border: 1px solid var(--border-color);
  }
}