@use './nnp-mixins.scss' as mixins;
@use './nnp-base-styles.scss';

.nnp-layout-container {
  @include mixins.flex-direction(column);
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.nnp-main-container {
  padding-top: var(--component-height-medium);
  flex-grow: 1;
  overflow-y: auto;
}

.nnp-main-content {
  position: relative;
  height: 100%;
  @include mixins.flex-direction(column);
}

.nnp-top-header {
  width: 100%;
  height: var(--component-height-medium);
  background-color: var(--base-color-secondary);
  z-index: 100;
  color: var(--text-color-secondary);
  font-size: 0.85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend .special-font;
}

.nnp-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--nnp-padding-medium);
  height: 100%;
  cursor: pointer;
}

.nnp-menu-item:hover {
  background-color: var(--component-color-hightlight);
  color: var(--text-color-secondary);
}

.nnp-menu-item.active {
  background-color: var(--component-color-hightlight);
  color: var(--text-color-secondary);
}

.nnp-body-content {
  height: calc(100% - var(--component-height-medium));

}

.nnp-logo-panel {
  @include mixins.justify(center, center);
  background-color: var(--base-color-secondary);
  height: var(--component-height-large);

  img {
    height: 90%;
  }
}

.nnp-bottom-footer {
  background-color: var(--base-color-secondary);
  color: var(--text-color-secondary);
  height: var(--component-height-large);
  gap: 1rem;
  @include mixins.flex-direction(column);
  @include mixins.justify(center, center);

}

.nnp-title {
  @extend .header-font;
  padding-bottom: var(--nnp-padding-medium);
}

.nnp-header {
  @extend .header-font;
  @include mixins.nnp-component-primary;
}

.nnp-header-body {
  height: calc(100% - var(--component-height-medium));
}

.nnp-header-primary {
  background-color: var(--component-color-primary);
  color: var(--text-color-secondary);
}

.nnp-header-secondary {
  background-color: var(--component-color-secondary);
  color: var(--text-color-primary);
}

.nnp-header-highlight {
  background-color: var(--component-color-highlight);
  color: var(--text-color-secondary);
}

.nnp-body-minus-header {
  height: calc(100% - var(--component-height-medium));
}

.nnp-btn {
  @include mixins.nnp-component-secondary;
  @include mixins.justify(center, center);
  @extend .cursor-pointer;
  @extend .header-font;
  border-radius: var(--radius-medium);
  padding: 0 var(--nnp-padding-medium);

}

.nnp-btn-primary {
  background-color: var(--component-color-hightlight);
  color: var(--text-color-secondary);

  &:hover {
    background-color: var(--component-color-tertiary);
  }
}

.nnp-btn-secondary {
  background-color: var(--component-color-primary);
  color: var(--text-color-primary);

  &:hover {
    background-color: var(--component-color-tertiary);
  }
}

.nnp-btn-tertiary {
  background-color: var(--base-color-secondary);
  color: var(--text-color-secondary);

  &:hover {
    background-color: var(--component-color-tertiary);
    color: var(--text-color-primary);
  }
}

.nnp-btn-disabled {
  background-color: var(--component-color-secondary);
  color: var(--text-color-secondary);
  cursor: none !important;
}

.nnp-modal-container {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(2px);
  z-index: 100;
  @include mixins.justify(center, center);
  @extend .max-height;
  @extend .max-width;

  .nnp-modal-content {
    background-color: var(--base-color-primary);
    box-shadow: var(--modal-box-shadow);
    margin: 20px 0;
    @include mixins.flex-direction(column);

    .nnp-modal-body {
      padding: var(--nnp-padding-medium);
      flex-grow: 1;
      overflow: auto;
    }
  }
}



.nnp-side-layout-container {
  // @include mixins.flex-direction(row);
  height: calc(100vh - var(--component-height-medium));
  overflow: hidden;
}

.nnp-side-main-container {
  // width: calc(100vw - var(--nav-width));
  // overflow-x: hidden;
  // overflow-y: hidden;
  @include mixins.flex-direction(row);
  height: 100%;
}

.nnp-side-main-content {
  width: calc(100vw - var(--nav-width));
  height: calc(100% - var(--nnp-padding-large));
  padding: var(--nnp-padding-medium) var(--nnp-padding-large);
  overflow-y: auto;
}

.nnp-side-main-content-full {
  width: 100vw;
  height: calc(100% - var(--nnp-padding-large));
  padding: var(--nnp-padding-medium) var(--nnp-padding-large);
  overflow-y: auto;
}

.nnp-side-nav {
  @include mixins.flex-direction(column);
  @extend .special-font;
  width: var(--nav-width);
  background-color: var(--component-color-secondary);
  color: var(--text-color-primary);
  border-right: 1px solid var(--border-color);
  transition: width 0.3s ease;
  height: 100%;
  overflow-y: auto;

  .nnp-side-menu-item {
    @include mixins.flex-direction(column);
  }


  .nnp-side-menu-header {
    @include mixins.justify(space-between, center);
    height: var(--component-height-medium);
    cursor: pointer;
    padding: 0 var(--nnp-padding-small);

    &:hover {
      background-color: var(--component-color-tertiary);
    }

    .nnp-side-menu-arrow {
      font-size: var(--font-size-md);
    }

    .nnp-side-menu-children {
      font-size: var(--font-size-xs);
    }
  }

  .nnp-side-menu-header.selected {
    background-color: var(--component-color-primary) !important;
    color: var(--text-color-secondary) !important;
  }

  .nnp-side-menu-header.active {
    background-color: var(--component-color-tertiary);
  }
}

.nnp-side-nav.collapsed {
  width: 0;
}

.nnp-side-menu-children {
  max-height: 0;
  transition: max-height 1s ease-out;
  overflow: hidden;
}

.nnp-side-menu-children.open {
  max-height: 300vh;
  transition: max-height 1s ease-in;
  // box-shadow: inset 0 4px 6px -4px #616161, inset 0 -4px 6px -4px #616161;
}

.nnp-accordian-component-primary {
  background-color: var(--component-color-grey) !important;
}

.nnp-accordian-component-secondary {
  background-color: var(--component-color-grey) !important;
}