@use './nnp-mixins.scss' as mixins;

.flex-center-center {
    @include mixins.justify(center, center);
}

.flex-center-top {
    @include mixins.justify(center, top);
}

.flex-space-center {
    @include mixins.justify(space-between, center);
}

.flex-start-center {
    @include mixins.justify(start, center);
}

.flex-column {
    @include mixins.flex-direction(column);
}

.flex-row {
    @include mixins.flex-direction(row);
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
}

.max-height {
    height: 100vh;
}

.max-width {
    width: 100vw;
}

.cursor-pointer {
    cursor: pointer;
}

.page-padding-large {
    padding: var(--nnp-padding-large);
}

.page-padding-medium {
    padding: var(--nnp-padding-medium);
}

.header-font {
    font-family: var(--font-family-header);
    font-size: var(--font-size-md);
}

.body-font {
    font-family: var(--font-family-body);
    font-size: var(--font-size-sm);
}

.special-font {
    font-family: var(--font-family-special);
    font-size: var(--font-size-sm);
}

.menu-font {}

.nnp-border {
    border: 1px solid var(--border-color);
}

.nnp-border-bottom {
    border-bottom: 1px solid var(--border-color);
}


.font-md {
    font-size: var(--font-size-md);
}

.font-xs {
    font-size: var(--font-size-xs);
}

.font-sm {
    font-size: var(--font-size-sm);
}

.font-lg {
    font-size: var(--font-size-lg);
}

.font-xl {
    font-size: var(--font-size-xl);
}

.font-xxl {
    font-size: var(--font-size-xxl);
}

.textLink {
    color: var(--text-color-link);
    cursor: pointer;
}